.timerHolder {
  display: grid;
  grid-template-columns: 1em 1fr 2fr 1em;
  grid-template-areas: ". timeline instructions .";
  height: 100vh;
  .timeline {
    grid-area: timeline;
    background-color: red;
  }
  .instructions {
    grid-area: instructions;
    background-color: green;
  }
}
